body {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}


.title {
  background-color: #ff4c68;
  color: white;
  position: relative;
  z-index: 0;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: 500;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.img-container {
  position: relative;
}

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
  z-index: -1;
}

/* Features Section */
.features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.title-feature {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
}

.icons-features {
  color: #ef8172;
  margin-bottom: 1rem;
  text-align: center;
}

.icons-features:hover {
  color: #ff4c68;
}

.description-features {
  color: #8f8f8f;
}

/* Testiomonial Section */
.testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

.press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */
.pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}



.cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;

}

.cta-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.footer {
  background-color: #fff;
  padding: 7% 20%;
  text-align: center;
  color: #8f8f8f;
}

.social {
  color: black;
  font-size: .8rem;

}
.social-link{
  padding: 10px;
}

.copyright {
  font-size: .9rem;
  color: #8f8f8f;
}


@media (max-width: 1028px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
  .copyright {
    font-size: 1rem;
  }

}
